@import "tailwindcss";

body {
  background-color: var(--color-slate-900);
  color: var(--color-slate-100);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
